<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My_News.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <My_News.Properties.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="db_use_trusted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="db_username" serializeAs="String">
                <value />
            </setting>
            <setting name="db_password" serializeAs="String">
                <value />
            </setting>
            <setting name="db_database" serializeAs="String">
                <value>MY_NEWS</value>
            </setting>
            <setting name="db_server" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncDelay" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TextSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TextOpacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Tahoma, 9.75pt</value>
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value>06/19/2013 15:44:00</value>
            </setting>
            <setting name="NewsDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>0</value>
            </setting>
        </My_News.Properties.Settings>
    </userSettings>
</configuration>